<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wqy.server.mapper.CarMapper">

    <resultMap id="filtered" type="com.wqy.server.pojo.Car">
        <id property="id" column="id"/>
        <result property="currentStore" column="current_store"/>
        <result property="name" column="name"/>
        <result property="emission" column="emission"/>
        <result property="isCarpooling" column="is_carpooling"/>
        <result property="mileage" column="mileage"/>
        <result property="carAge" column="car_age"/>
        <result property="transmission" column="transmission"/>
        <result property="satisfyRate" column="satisfy_rate"/>
        <result property="powerType" column="power_type"/>
        <result property="sits" column="sits"/>
        <result property="carType" column="car_type"/>
        <result property="oilVolume" column="oil_volume"/>
        <result property="arrivalStore" column="arrival_store"/>
        <result property="rentPrice" column="rent_price"/>
        <result property="currentCity" column="current_city"/>
        <result property="arrivalCity" column="arrival_city"/>
        <result property="poolingLimitTime" column="pooling_limit_time"/>
        <association property="store" javaType="com.wqy.server.pojo.Store">
            <id property="id" column="id"/>
            <result property="location" column="location"/>
        </association>
    </resultMap>

    <select id="selectFiltered" resultMap="filtered">
        SELECT car.id,
        car.current_store,
        car.`name`,
        car.emission,
        car.is_carpooling,
        car.mileage,
        car.car_age,
        car.transmission,
        car.satisfy_rate,
        car.power_type,
        car.sits,
        car.car_type,
        car.rent_price,
        car.current_city,
        car.oil_volume,
        car.arrival_city,
        car.arrival_store,
        car.pooling_limit_time,
        store.`location`
        FROM t_car car
        LEFT JOIN t_store store ON car.current_store = store.`name`
        <where>
            <if test="data != null">
                <if test="data.startTripCity != null and data.startTripCity != ''">
                    AND car.current_city = #{data.startTripCity}
                </if>
                <if test="data.startTripStore != null and data.startTripStore != ''">
                    AND car.current_store = #{data.startTripStore}
                </if>
                <if test="data.endTripCity != null and data.endTripCity != ''">
                    AND car.arrival_city = #{data.endTripCity}
                </if>
                <if test="data.carType != null and data.carType != ''">
                    AND car.car_type = #{data.carType}
                </if>
                <if test="data.transmission != null and data.transmission != ''">
                    AND car.transmission = #{data.transmission}
                </if>
            </if>
            AND car.is_carpooling = true
        </where>
    </select>

    <select id="init" resultMap="filtered">
        SELECT car.id,
               car.current_store,
               car.`name`,
               car.oil_volume,
               car.emission,
               car.is_carpooling,
               car.mileage,
               car.car_age,
               car.transmission,
               car.satisfy_rate,
               car.power_type,
               car.sits,
               car.car_type,
               car.rent_price,
               car.current_city,
               car.arrival_city,
               car.arrival_store,
               car.pooling_limit_time,
               store.`location`
        FROM t_car car
                 LEFT JOIN t_store store ON car.current_store = store.`name`
        WHERE car.is_carpooling = true
    </select>
</mapper>